.command-row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.intro-text {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.newDiv {
  color:red;
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}