.command-row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.intro-text {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.square {
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

.clicked {
  background-color: red;
}